/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@500&family=Roboto&display=swap');

/* common style or utilities */
body {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-banner {
    display: flex;
    width: 1321px;
    height: 646px;
    background-color: black;
    border-radius: 30px;
    color: white;
    margin-top: 50px;
}

.banner-content {
    width: 531px;
    height: 424px;
    margin-top: 111px;
    margin-left: 106px;

}

.banner-content h1 {
    margin: 0;
    font-size: 70px;
    line-height: 80px;
}

.banner-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 50px;
}

.watch-live {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 16px 25px;
    border-radius: 5px;
}

.fa-regular fa-chevron-right {
    border: 1.5px;
}

.banner-player img {
    width: 581px;
    height: 613px;
    margin-top: 32px;
}

.side-bar {
    width: 312px;
    height: 312px;
    background-color: black;
    border-radius: 10px;
    margin-top: px;
    margin-right: 24px;
}

.all-match {
    display: flex;
    flex-direction: row;
    margin-top: 130px;
}

.side-links a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 252px;
    height: 64px;
    color: black;
    background-color: white;
    margin: 30px;
    border-radius: 10px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}

.blog {
    width: 312px;
    height: 362px;

}

footer {
    width: 1600px;
    height: 444px;
    background-color: black;
    text-align: center;
}

.goal {
    color: white;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    margin-top: 130px;
}

hr {
    visibility: hidden;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}

.footer-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #B9B9B9;
    width: 898px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}


/* Media Queries - Mobile Devices */
@media only screen and (max-width: 688px){
    
}

/* Media Queries - Mobile Devices */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    
}